<!-- <p [style.marginTop.rem]="1">Cantidad en el carrito: {{ quantity }}</p>
<p [style.marginTop.rem]="1">Total: {{ total }}</p>
<button (click)="handleCreate()">Agregar producto</button> -->
<div class="Products">
  <app-product
    (productAdd)="addProductToCart($event)"
    (productShow)="handleProductShow($event)"
    [product]="product"
    *ngFor="let product of products"
  ></app-product>
</div>
<div class="Product__detail" [class.active]="showDetail">
  <div>
    <button (click)="toggleDetail()">Close</button>
    <div *ngIf="productChosen">
      <h3>{{ productChosen.title }}</h3>
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide *ngFor="let img of productChosen.images">
          <img [src]="img" alt="Imagen {{ productChosen.title }}" />
        </ng-template>
      </swiper>
      <p>{{ productChosen.price }}</p>
      <button (click)="handleUpdate()">Actualizar</button>
      <button (click)="handleDelete()">Eliminar</button>
    </div>
  </div>
</div>
<button (click)="loadMore()">Load More</button>
