.Product {
  display: grid;
  grid-template-rows: 250px 100px auto;
  // height: 350px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }

  &__name,
  &__price {
    margin: 0;
  }

  &__button {
    button {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
    }
  }

  @media only screen and (min-width: 768px) {
    &__button {
      button {
        width: auto;
      }
    }
  }
}

.Product__detail {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}
